body {
    background-color: #282828;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.container {
    position: relative;
    padding: 0;
    transition: all 0.5s ease-out;
    background-color: #27292e;
    min-height: 100vh;
}
/*header start*/
#header {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 2.5rem;
    z-index: 2;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#header a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    transition: all 0.7s;
}

#header a:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: all 0.7s;
}

#header ul {
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
}

#header li {
    margin: 0.5rem 1rem;
    list-style: none;
    white-space: nowrap;
}

/*header end*/

/*introduction start*/
#introduction {
    padding-top: 4rem;
    padding-bottom: 3rem;
    position: relative;
    color: white;
    overflow: hidden;
    background-image: url("../images/stars.jpg");
    background-attachment: fixed;
    background-size: 1200px;
    background-position-x: calc(50vw - 600px);
}


#introduction::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            rgba(0,0,0,0) 80%,
            rgba(39,41,46,1) 100%);
}

#introduction-container {
    /*the text container*/
    position: relative;
    margin: 2rem 5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    align-items: center;
    z-index: 2;
}

#logo {
    position: relative;
    z-index: 1;
    flex: 0 0 15rem;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    background-image: url("../images/stars.jpg");
    background-attachment: fixed;
    background-size: 1200px;
    background-position-x: calc(50vw - 600px);
    clip-path: polygon(51% 52%, 44% 66%, 59% 85%, 96% 61%, 68% 10%, 11% 29%, 4% 87%, 40% 84%, 36% 50%, 55% 40%, 69% 57%, 63% 67%, 52% 64%);
}


#introduction-text {
    margin: 1rem;
}

#introduction-text p {
    color: #b4b4b4;
}

#introduction h1 {
    font-family: "Lobster Two", cursive;
    margin-bottom: 2rem;
}
/*introduction end*/

/*my work start*/
#my-work {
    padding-top: 2rem;
}

.work-container {
    position: relative;
    width: 90%;
    margin: 2rem auto;
    height: 20rem;
    overflow: hidden;
    background-color: #16181b;
    border-radius: 0.5rem;
    box-shadow: #141414 5px 5px 10px;

    display: flex;
    justify-content: center;
}

.work-container img {
    position: relative;
    width: 90%;
    left: 5%;
}

.work-text {
    position: relative;
    color: white;
    flex: 3;
}

.work-img-container {
    flex: 5;
}

.work-link {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    align-items: baseline;
    font-size: 0;
}

.work-link>div {
    display: inline-block;
    width: 50%;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.work-link a:hover {
    cursor: pointer;
    text-shadow: white 0 0 20px;
    transition: text-shadow 0.8s ease-out;
}

.work-link>div:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
}

.work-link>div:nth-child(2) {
    font-size: 1rem;
    color: #95a2a8;
}

.work-text>h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.work-text>p {
    margin: 0 1rem 5rem 1rem;
}
/*my work end*/

/*contact start*/
#contact {
    margin: 5rem auto;
}

#contact form {
    color: #666a76;
    margin: 1rem auto;
    width: 80%;
    display: grid;
    grid-template-columns: 25% 65% 10%;
    row-gap: 1rem;
}

#contact label {
    text-align: right;
    margin-right: 2rem;
    white-space: nowrap;
}

#contact>h2 {
    color: #666a76;
    text-align: center;
    font-family: "Lobster Two", cursive;
    font-size: 3rem;
}

#contact textarea {
    padding-left: 0.5rem;
    height: 10rem;
    background-color: #666a76;
    border: none;
    border-radius: 0.5rem;
    resize: none;
}

#contact textarea::-webkit-scrollbar {
    width: 10px;
}
#contact textarea::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
#contact textarea::-webkit-scrollbar-thumb {
    background: #7e828e;
    border: 0 none #666a76;
    border-radius: 50px;
}
#contact textarea::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
#contact textarea::-webkit-scrollbar-thumb:active {
    background: #ffffff;
}
#contact textarea::-webkit-scrollbar-track {
    background: #666666;
    border: 0 none #ffffff;
    border-radius: 50px;
}
#contact textarea::-webkit-scrollbar-track:hover {
    background: #666666;
}
#contact textarea::-webkit-scrollbar-track:active {
    background: #404040;
}
#contact textarea::-webkit-scrollbar-corner {
    background: transparent;
}

#contact input {
    padding-left: 0.5rem;
    background-color: #666a76;
    border: none;
    border-radius: 0.5rem;
}

#contact *:focus {
    outline: none;
}

#submit-div {
    grid-column: span 3;
}

#submit {
    display: block;
    justify-self: center;
    margin: 0 auto;
    width: 8rem;
}

/*contact end*/

/*footer start*/
#footer {
    color: white;
    text-align: center;
}
/*footer end*/

/*for mobile*/
@media only screen and (max-width: 768px) {
    #introduction-container {
        margin: 0 3%;
        flex-direction: column;
    }

    #logo {
        flex: 0 0 15rem;
    }

    .work-container {
        height: auto;
        display: grid;

        grid-template-rows: [image] auto [text];
    }

    .work-text {
        grid-row: text;
    }

    .work-img-container {
        max-height: 300px;
        overflow: hidden;
        grid-row: image;
    }
}