header {
    background: linear-gradient(50deg, rgb(107, 199, 224), rgb(73, 193, 223));
    min-height: 400px;
}

main {
    background: #fff;
    position: relative;
    min-height: calc(100VH - 400px - 2em);
    transition: height 0.75s ease-out;
}

footer {
    background: #aaa;
    height: 2em;
}

.nav-button {
    margin: 0 10px;
    transition: text-shadow 0.5s;
    user-select: none;
}

.nav-button:hover {
    cursor: pointer;
    text-shadow: gray 0 0 5px;
    
}

.nav-button:active {
    color: gray;
}