body {
  scroll-behavior: smooth;
}

.work .carousel-control-prev::after,
.work .carousel-control-next::after {
  z-index: -1;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  height: 3em;
  width: 4em;
  display: block;
  position: absolute;
}

.work .carousel-control-prev,
.work .carousel-control-next {
  top: unset;
  width: 4rem;
  bottom: 0;
  height: 3em;
  position: absolute;
}

.work-nav {
  text-align: center;
  color: lightgray;
  text-shadow: 1px 1px black;
  transition: all 0.3s;
}

.work-nav:hover {
  color: white;
}

.work-nav.active {
  font-size: 2em;
  transition: all 0.3s;
}