body {
  scroll-behavior: smooth;
}

.work .carousel-control-prev::after,
.work .carousel-control-next::after {
  z-index: -1;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  height: 3em;
  width: 4em;
  display: block;
  position: absolute;
}

.work .carousel-control-prev,
.work .carousel-control-next {
  top: unset;
  width: 4rem;
  bottom: 0;
  height: 3rem;
  position: absolute;
}

.work-nav {
  position: relative;
  margin: 1em auto;
  max-width: 11rem;
}

.work-nav a{
  text-shadow: 1px 1px 50px black;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: lightgray;
  transition: all 0.3s;
  vertical-align: middle;
}

.work-nav a::before{
  content: "";
  width: 0;
  transition: all 0.5s;
  position: absolute;
  left: -2rem;
  top: 60%;
}


.work-nav.active a::before{
  content: "";
  background-color: lightgray;
  width: 2rem;
  height: 2px;
  margin: 0 5px;
  transition: all 0.5s;
  left: 100%;
}

.work-nav a::after{
  content: "";
  width: 0;
  transition: all 0.5s;
  position: absolute;
  right: -2rem;
  top: 60%;
}


.work-nav.active a::after{
  content: "";
  background-color: lightgray;
  width: 2rem;
  height: 2px;
  margin: 0 5px;
  transition: all 0.5s;
  right: 100%;
}

.work-nav a:hover, .work-nav.active a:hover {
  color: darkgray;
  text-decoration: none;
}

.work-nav.active a{
  color: white;
  line-height: 2rem;
  font-size: 2rem;
  transition: all 0.3s;
}