.work .carousel-control-prev::after,
.work .carousel-control-next::after {
  z-index: -1;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  height: 3em;
  width: 4em;
  display: block;
  position: absolute;
}

.work .carousel-control-prev,
.work .carousel-control-next {
  top: unset;
  width: 4rem;
  bottom: 0;
  height: 3em;
  position: absolute;
}